<div class="container padd-0">
    <div class="col-12 padd-0">
        <ngb-carousel data-interval="false" [showNavigationArrows]="showNavigationArrows">
            <ng-template ngbSlide>
              <div class="col-12 padd-0" style="display: flex;">
                <div class="col-6 padd-0">
                  <img src="./assets/images/reviews/gregory.png" width="100%" alt="Random first slide">
                </div>
                <div class="col-6" style="padding-top: 6em;padding-left: 6em;">
                  <h3 class="fullname">Артем Иванов</h3>
                  <p class="review">
                    Доволен сотрудничеством с Веб Студией Webagency. Для меня<br>
                    очень важно, когда исполнитель сам понимает, что тебе нужно и<br>
                    тебе  не надо долго объяснять, и находить время на эти самые<br>
                    объяснения. Этот дизайн всем понравился кому показывал. Ко<br>
                    всем задачам подход профессиональный очень доволен результатом.<br>
                  </p>
                </div>
              </div>
            </ng-template>
            <ng-template ngbSlide>
              <div class="col-12 padd-0" style="display: flex;">
                <div class="col-6 padd-0">
                  <img src="./assets/images/reviews/gregory.png" width="100%" alt="Random first slide">
                </div>
                <div class="col-6" style="padding-top: 6em;padding-left: 6em;">
                  <h3 class="fullname">Артем Иванов</h3>
                  <p class="review">
                    Доволен сотрудничеством с Веб Студией Webagency. Для меня<br>
                    очень важно, когда исполнитель сам понимает, что тебе нужно и<br>
                    тебе  не надо долго объяснять, и находить время на эти самые<br>
                    объяснения. Этот дизайн всем понравился кому показывал. Ко<br>
                    всем задачам подход профессиональный очень доволен результатом.<br>
                  </p>
                </div>
              </div>
            </ng-template>
            <ng-template ngbSlide>
              <div class="col-12padd-0 " style="display: flex;">
                <div class="col-6 padd-0">
                  <img src="./assets/images/reviews/gregory.png" width="100%" alt="Random first slide">
                </div>
                <div class="col-6" style="padding-top: 6em;padding-left: 6em;">
                  <h3 class="fullname">Артем Иванов</h3>
                  <p class="review">
                    Доволен сотрудничеством с Веб Студией Webagency. Для меня<br>
                    очень важно, когда исполнитель сам понимает, что тебе нужно и<br>
                    тебе  не надо долго объяснять, и находить время на эти самые<br>
                    объяснения. Этот дизайн всем понравился кому показывал. Ко<br>
                    всем задачам подход профессиональный очень доволен результатом.<br>
                  </p>
                </div>
              </div>
            </ng-template>
          </ngb-carousel>
    </div>
</div>