<div class="row">
    <header class="header">
        <div class="col-md-4 logo">
            
        </div>
        <div class="col-md-5 menu">
            <nav>
                <ul>
                    <li>
                        <a href="/portfolio">Портфолио</a>
                    </li>
                    <li>
                        <div ngbDropdown class="d-inline-block">
                            <a href="#" id="dropdownBasic1" ngbDropdownToggle>Услуги и Цены</a>
                            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                              <a href="/services/landing" ngbDropdownItem>Сайт лендинг</a>
                              <a href="/services/shopping" ngbDropdownItem>Сайт интернет-магазин</a>
                              <a href="/services/business-card" ngbDropdownItem>Сайт визитка</a>
                            </div>
                          </div>
                    </li>
                    <li>
                        <a href="">Информация</a>
                    </li>
                    <li>
                        <a href="">Блог</a>
                    </li>
                    <li>
                        <a href="">Контакты</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-md-3 socials">
            <i class="fab fa-telegram icon"></i>
            <img src="/assets/icons/viber.png" class="icon"/>
            <img src="/assets/icons/whatsapp.png" class="icon"/>
            <span class="tel-text">
                <i class="fas fa-phone-volume icon_phone"></i>
                +373 78 519 483
            </span>
        </div>
    </header>
</div>