<div class="col-12">
    <header-app></header-app>
    <div class="col-12 container-portfolio">
        <div class="container">
            <h1 class="title">Портфолио</h1>
            <div class="col-12 padd-0" style="margin-bottom: 35px;">
                <img class="img" src="./assets/images/portfolio/image 30.png" width="327" height="210" />
                <img class="img mg-left-25" src="./assets/images/portfolio/Coffee.png" width="327" height="210" />
                <img class="img mg-left-25" src="./assets/images/portfolio/Ed courses.png" width="327" height="210" />
            </div>
            <div class="col-12 padd-0" style="margin-bottom: 8%;">
                <img class="img" src="./assets/images/portfolio/Commerce.png" width="327" height="210" />
                <img class="img mg-left-25" src="./assets/images/portfolio/Aeroflot.png" width="327" height="210" />
                <img class="img mg-left-25" src="./assets/images/portfolio/App.png" width="327" height="210" />
            </div>
        </div>
    </div>
    <footer-app></footer-app>
</div>