<div class="row footer">
    <div class="col-12" style="max-width: 1304px !important;">
        <footer class="col-12 footer-container">
            <div class="col-3 contact-us" style="padding: 0;">
                <h2 class="title">Остались вопросы по <br>
                    проекту свяжитесь с нами</h2>
                <button class="btn-contact">
                    СВЯЗАТЬСЯ С НАМИ
                </button>
            </div>
            <div class="col-9 block-contacts">
                <div class="col-5 contact-us-item">
                    <h5 class="title">Услуги и Цены</h5>
                    <ul class="ul">
                        <li class="li">Дизайн многостраничных сайтов</li>
                        <li class="li">Дизайн лендингов</li>
                        <li class="li">Дизайн сайт визитк</li>
                        <li class="li">Разработка сайтов</li>
                    </ul>
                </div>
                <div class="col-4 contact-us-item">
                    <h5 class="title">Информация</h5>
                    <ul class="ul">
                        <li class="li">Часто задаваемые вопросы</li>
                        <li class="li">Отзывы наших клиентов</li>
                        <li class="li">Сотрудничество с веб-студиями</li>
                    </ul>
                </div>
                <div class="col-5 contact-us-info">
                    <span>
                        <i class="fas fa-phone-alt"></i>
                        +37378519483 Telegram, WhatsApp, Viber
                    </span>
                    <p></p>
                    <span>
                        <i class="fas fa-envelope"></i>
                        leo7artur@mail.ru
                    </span>
                    <p></p>
                    <span>
                        <i class="fab fa-skype"></i>
                        Antrulz
                    </span>
                </div>
            </div>
        </footer>
    </div>
</div>