<div class="col-12 padd-0">
    <header-app></header-app>
    <div class="col-12 container-info-breads">
        <div class="col-6">
            <div class="breads">
                <div class="container" style="max-width: 1219px;">
                    <span>Главная</span>
                    <i class="fas fa-long-arrow-alt-right"></i>
                    <span>Дизайн сайтов</span>
                    <i class="fas fa-long-arrow-alt-right"></i>
                    <span>Услуги и цены</span>
                    <i class="fas fa-long-arrow-alt-right"></i>
                    <span>Интернет магазин</span>
                    <i class="fas fa-long-arrow-alt-down"></i>
                </div>
            </div>
            <div class="col-12" style="margin-top: 9em;">
                <h1 class="title-header">Интернет-магазин</h1>
                <p class="desc">Интернет магазин поможет вашим клиентам<br/>
                    купить товар невыходя из дома сэкономив ихнее<br/>
                    время и деньги. В современном мире уже все<br/>
                    сферы бизнеса переходят на интернет продажи.<br/>
                </p>
                <button class="btn-new-project">ЗАКАЗАТЬ Интернет магазин</button>
            </div>
        </div>
        <div class="col-6">
            <img src="./assets/images/img-landing.png" width="773" height="491" />            
        </div>
    </div>
    <div class="col-12 container-benefits-landing">
        <div class="container">
            <div class="col-12 block-header">
                <h1 class="title">Преимущества интернет магазина</h1>
                <p class="desc">
                    Заказывать товары через интернет — дешевле. Товары, продаваемые в<br/>
                    интернет-магазинах, стоят дешевле своих аналогов, продаваемых в обычных магазинах.<br/>
                </p>
            </div>
            <div class="col-12 block-body padd-0">
                <div class="col-4">
                    <img src="./assets/icons/shopping/econom.png" />
                    <h2 class="title-text">Экономно</h2>
                    <p class="desc">
                        Многие товары в интернете стоят дешевле, чем в<br/>
                        магазинах. Вы не тратите деньги на аренду<br/>
                        торговых точек.<br/>
                    </p>
                </div>
                <div class="col-4">
                    <img src="./assets/icons/shopping/fast-delivery.png" />
                    <h2 class="title-text">Быстрая доставка</h2>
                    <p class="desc">
                        Покупки в интернет магазинах экономят<br/>
                        время клиентов и доставляют товар в<br/>
                        необходимую локацию.<br/>
                    </p>
                </div>
                <div class="col-4">
                    <img src="./assets/icons/shopping/fast-pay.png" />
                    <h2 class="title-text">Быстрая оплата товаров</h2>
                    <p class="desc">
                        Интернет-покупки можно легко и быстро<br/>
                        оплатить наличными, почтовым или<br/>
                        банковским переводом не выходя из дома.<br/>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 padd-0 container-stages-works">
        <div class="container" style="max-width: 1385px;">
            <h1 class="title-text">Основные этапы работы</h1>
            <div class="col-12 block-body">
                <div class="col-4 item padd-0">
                    <img src="./assets/images/landing/analysys.png" />
                    <h2 class="title-text">Анализ</h2>
                    <p class="desc">
                        Тщательно изучаем вашу компанию: ее цели<br/>
                        и миссию, особенности предлагаемых<br/>
                        продуктов услуг, их спрос в интернете.<br/>
                        Определяем ваши слабые и сильные<br/>
                        стороны, целевую аудиторию, возможных<br/>
                        конкурентов.<br/>
                    </p>
                </div>
                <div class="col-4 item padd-0">
                    <img src="./assets/images/landing/create-prototype.png" />
                    <h2 class="title-text">Создание прототипа</h2>
                    <p class="desc">
                        Разрабатываем и создаем макет будущего<br/>
                        одностраничного сайта, где указываем<br/>
                        конкурентные преимущества вашего<br/>
                        продукта, грамотно структурируем<br/>
                        информацию и расставляем правильные<br/>
                        акценты.
                    </p>
                </div>
                <div class="col-4 item padd-0">
                    <img src="./assets/images/landing/development.png" />
                    <h2 class="title-text">Разработка</h2>
                    <p class="desc">
                        После утверждения прототипа мы<br/>
                        приступаем к созданию лендинг<br/>
                        пейдж с адаптивной версткой<br/>
                        для ПК и мобильных гаджетов.<br/>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 container-price-landing">
        <div class="col-12">
            <h1 class="title-header">Цены на разработку лендинга</h1>
        </div>
        <div class="col-12 block-body">
            <div class="col-3 item margin-top">
                <div class="container">
                    <img src="./assets/icons/landing/econom.png" />
                    <h5 class="title-text">Эконом</h5>
                    <span class="title-add">от <i>200$</i></span>
                    <ul class="ul padd-0">
                        <li>Помощь в составлении ТЗ</li>
                        <li>Сбор референсов</li>
                        <li>Анализ ниши</li>
                        <li>Разработка прототипа</li>
                        <li>Отрисовка дизайна</li>
                        <li>Мобильная версия</li>
                        <li>Правки (1 пакет)</li>
                        <li class="line-through">Вёрстка сайта</li>
                    </ul>
                    <button class="request-btn">Оставить заявку</button>
                </div>
            </div>
            <div class="col-3 item center-block" style="height: 918px;">
                <div class="container">
                    <img src="./assets/icons/landing/standart.png" />
                    <h5 class="title-text">Стандарт</h5>
                    <span class="title-add">от <i>380$</i></span>
                    <ul class="ul padd-0">
                        <li>Помощь в составлении ТЗ</li>
                        <li>Сбор референсов</li>
                        <li>Анализ ниши</li>
                        <li>Анализ конкурентов</li>
                        <li>Разработка прототипа</li>
                        <li>Отрисовка дизайна</li>
                        <li>Мобильная версия</li>
                        <li>Правки (2 пакет)</li>
                        <li class="line-through">Вёрстка сайта</li>
                    </ul>
                    <button class="request-btn">Оставить заявку</button>
                </div>
            </div>
            <div class="col-3 item margin-top" style="height: 948px;">
                <div class="container">
                    <img src="./assets/icons/landing/key.png" />
                    <h5 class="title-text">Под ключ</h5>
                    <span class="title-add">от <i>200$</i></span>
                    <ul class="ul padd-0">
                        <li>Помощь в составлении ТЗ</li>
                        <li>Сбор референсов</li>
                        <li>Анализ ниши</li>
                        <li>Анализ конкурентов</li>
                        <li>Разработка прототипа</li>
                        <li>Отрисовка дизайна</li>
                        <li>Мобильная версия</li>
                        <li>Правки (3 пакет)</li>
                        <li>Составление ТЗ для верстальщика</li>
                        <li>Вёрстка сайта</li>
                    </ul>
                    <button class="request-btn">Оставить заявку</button>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 container-slider">

    </div>

    <div class="col-12 container-form">
        <div class="col-12" style="text-align: center;">
            <h2 class="title">Обсудить Проект</h2>
            <p class="desc">Заполните поля ввода расскажите нам о своих идеях и мы<br>
                 реализуем ваш проект исходя из ваших конечных целей.</p>
        </div>
        <div class="col-12">
            <div class="container" style="max-width: 1080px;">
                <form class="col-12 form">
                    <div class="col-12" style="display: flex;justify-content: center;">
                        <div class="col-4">
                            <input type="text" placeholder="Имя" name="name" />
                        </div>
                        <div class="col-4">
                            <input type="email" placeholder="Email" name="email" />
                        </div>
                    </div>
                    <div class="col-12" style="display: flex;justify-content: center;margin-top: 15px;">
                        <div class="col-4">
                            <input type="text" placeholder="Телефон" name="tel" />
                        </div>
                        <div class="col-4">
                            <input type="text" placeholder="Номер" name="number" />
                        </div>
                    </div>
                    <textarea placeholder="Описание..."></textarea>
                </form>
            </div>
        </div>
    </div>
    <footer-app></footer-app>
</div>