<div class="">
    <header-app></header-app>
    <div class="row container-desc padd-0">
        <div class="col-md-4 info-block padd-0">
            <div class="container center">
                <h1 class="text-header">
                    Современный Дизайн<br>
                    Для <span>Вашего Бизнеса</span>
                </h1>
                <p class="detail-desc">
                    Правильно продуманная структура и дизайн сайта<br>
                    позволяет увеличить конверсию достижения ваших целей.
                </p>
                <button class="btn-new-project">Новый проект</button>
            </div>
        </div>
        <div class="col-md-8 image-block padd-0">
            <img src="/assets/images/home_img.png" width="91%" height="640" style="float: right;" />
        </div>
    </div>

    <div class="row container-tasks">
        <div class="row block-top">
            <div class="container block-text">
                <h2>Какие задачи решаем мы?</h2>
                <p>Последовательность создания сайта и четкая проработка этапов дает<br>
                   высокое качество и максимальный эфект работы</p>
            </div>
            <div class="container">
                <div class="col-md-12 block-details">
                    <div class="container">
                        <div class="col-12 block-elements">
                            <div class="col-4 item">
                                <img src="/assets/icons/layout-design.png" />
                                <h5 class="title">Верстка Дизайн макетов</h5>
                                <ul class="ul">
                                    <li class="li">Разработка Landing Page</li>
                                    <li class="li">Разработка сайта компании</li>
                                    <li class="li">Юзабилити и Аудит</li>
                                </ul>
                            </div>
                            <div class="col-4 item" style="padding-right: 0;">
                                <img src="/assets/icons/web-design.png" />
                                <h5 class="title">Веб-Дизайн</h5>
                                <ul class="ul" style="padding-left: 112px;">
                                    <li class="li">Дизайн сайтов</li>
                                    <li class="li">Дизайн многостраничников</li>
                                    <li class="li">Дизайн лендингов</li>
                                    <li class="li">Дизайн сайт визиток</li>
                                </ul>
                            </div>
                            <div class="col-4 item">
                                <img src="/assets/icons/remake-design.png" />
                                <h5 class="title">Редизайн-Сайтов</h5>
                                <ul class="ul" style="padding-left: 89px;">
                                    <li class="li">Редизайн устарелых сайтов</li>
                                    <li class="li">Редизайн сайт визиток</li>
                                    <li class="li">Редизайн лендингов</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row block-bottom"></div>
    </div>

    <div class="row container-latest-works">
        <div class="container center">
            <h2 class="title">Последние работы</h2>
            <p class="desc">Профессиональное и качественное создание сайтов является ключевым<br>
               направлением работы нашей веб студии. Ниже вы можете ознакомиться с примерами<br>
               веб-ресурсов, где мы реализовали продуманный и эффективный Website design.</p>
            <div class="col-12 block-elements">
                <div class="col-4" style="padding-left: 0;">
                    <img src="/assets/images/project1.png" width="100%" />
                </div>
                <div class="col-4">
                    <img src="/assets/images/project3.png" width="100%" />
                </div>
                <div class="col-4">
                    <img src="/assets/images/project2.png" width="100%" />
                </div>
            </div>   
        </div>
    </div>

    <div class="row container-our-projects">
        <div class="container">
            <h2 class="title">Отзывы Наших</h2>
            <h2 class="title-2">Клиентов</h2>
            <div class="slider">
                <carousel-app></carousel-app>
            </div>
        </div>
    </div>

    <div class="row container-form">
        <div class="container">
            <div class="col-12" style="text-align: center;">
                <h2 class="title">Обсудить Проект</h2>
                <p class="desc">Заполните поля ввода расскажите нам о своих идеях и мы<br>
                     реализуем ваш проект исходя из ваших конечных целей.</p>
            </div>
            <div class="col-12">
                <div class="container" style="max-width: 1080px;">
                    <form class="col-12 form">
                        <div class="col-12" style="display: flex;justify-content: center;">
                            <div class="col-4">
                                <input type="text" placeholder="Имя" name="name" />
                            </div>
                            <div class="col-4">
                                <input type="email" placeholder="Email" name="email" />
                            </div>
                        </div>
                        <div class="col-12" style="display: flex;justify-content: center;margin-top: 15px;">
                            <div class="col-4">
                                <input type="text" placeholder="Телефон" name="tel" />
                            </div>
                            <div class="col-4">
                                <input type="text" placeholder="Номер" name="number" />
                            </div>
                        </div>
                        <textarea placeholder="Описание..."></textarea>
                        <div class="col-12" style="display: flex;justify-content: center;">
                            <button type="submit" class="btn-submit">Отправить</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <footer-app></footer-app>
</div>