<div class="col-12">
    <header-app></header-app>
    <div class="col-12 breads">
        <div class="container" style="max-width: 1219px;">
            <span>Главная</span>
            <i class="fas fa-long-arrow-alt-right"></i>
            <span>Портфолио</span>
            <i class="fas fa-long-arrow-alt-right"></i>
            <span>Услуги и цены</span>
            <i class="fas fa-long-arrow-alt-down"></i>
        </div>
    </div>

    <div class="col-12 container-services">
        <div class="container" style="max-width: 1219px;">
            <h2 class="title">Услуги и цены</h2>
            <div class="col-12 block-services">
                <div class="col-4 item">
                    <img src="./assets/icons/landing.png" />
                    <h2 class="title">Лендинг</h2>
                    <p class="desc">
                        Веб страница цель которой является<br>
                        отображение информации об услуге или<br>
                        товаре, который будет продаватся и увеличивать конверсию
                    </p>
                    <a href="#" class="link">
                        Подробнее
                        <i class="fas fa-long-arrow-alt-right"></i>
                    </a>
                </div>
                <div class="col-4 item">
                    <img src="./assets/icons/store.png" />
                    <h2 class="title">Интернет магазин</h2>
                    <p class="desc">
                        Сделаем продающий интернет магазин<br>
                        с подключением платежных систем<br>
                        интеграцией базы данных и любыми другими решениями
                    </p>
                    <a href="#" class="link">
                        Подробнее
                        <i class="fas fa-long-arrow-alt-right"></i>
                    </a>
                </div>
                <div class="col-4 item">
                    <img src="./assets/icons/visit.png" />
                    <h2 class="title">Визитка</h2>
                    <p class="desc">
                        Сайт-визитка — небольшой сайт, <br>
                        как правило, состоящий из одной<br>
                        веб-страниц и содержащий основную<br>
                        информацию об организации, частном<br>
                        лице, компании, товарах или услугах,<br>
                        прейскуранты, контактные данные.<br>
                    </p>
                    <a href="#" class="link">
                        Подробнее
                        <i class="fas fa-long-arrow-alt-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <footer-app></footer-app>
</div>